.MainContent {
  @apply flex;
  @apply flex-col lg:flex-row;
  @apply mx-auto;
  @apply max-w-7xl;

  .LogoContent {
    @apply lg:grid;
    @apply px-4 lg:px-8;
    @apply py-4 lg:py-0;
    @apply lg:w-pc-55;
    @apply bg-main-light-green;

    .Circle {
      @apply flex;
      @apply relative;
      @apply bg-main-green;
      @apply uppercase;
      @apply text-white;
      @apply w-full;
      @apply rounded-full;
      @apply m-auto;

      // responsive circle trick
      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      .CurveText {
        fill: white;
        @apply tracking-widest;
        @apply mt-6 lg:mt-8;

        svg {
          @apply absolute;
          @apply h-full w-full;
        }

        text {
          @apply font-bold;
          font-size: 10px;
          transform-origin: center;
          transform: rotate(33deg);
        }
      }

      .CircleContent {
        @apply absolute;
        @apply flex;
        @apply flex-col;
        @apply justify-center;
        @apply items-center;
        @apply h-full w-full;
        @apply mt-4 lg:mt-8;
      }

      .PriceText {
        @apply flex;
        @apply relative;
        @apply leading-none;
        @apply font-bold;
        @apply text-[6rem] lg:text-[16rem];

        .Currency {
          @apply absolute;
          @apply text-xl lg:text-5xl;
          @apply mt-2 lg:mt-8;
          @apply -ml-2 lg:-ml-4;
        }
      }

      .DishText {
        @apply text-[2rem] lg:text-[3.75rem];
        @apply font-bold;
        @apply tracking-dish;
      }

      .DateText {
        @apply text-sm lg:text-[1.75rem];
        @apply font-bold;
        @apply leading-none;
      }
    }
  }

  .FormContent {
    @apply lg:w-pc-45;
    @apply bg-main-green;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply py-8;

    .Heading {
      @apply text-white;
      @apply text-xl;
      @apply font-bold;
      @apply uppercase;
      @apply pb-4;
      @apply mb-6 lg:mb-12;
    }

    .HeadingMobile {
      @extend .Heading;
      @apply font-normal;
      @apply text-center;
      @apply px-8;
      @apply lg:hidden;
    }

    .Form {
      @apply w-full;
      @apply px-8 lg:px-16;
      @apply font-camdensans;

      .Field {
        @apply mb-4;

        &:last-child {
          @apply mb-0;
        }

        label {
          @apply text-white;
          @apply text-sm;
          @apply uppercase;
          @apply mb-1;
        }

        input {
          @apply w-full;
          @apply text-base;
          @apply uppercase;
          @apply px-2 py-1;
        }

        @apply flex;
        @apply flex-col;
      }

      .AcceptWrapper {
        @apply my-12;
      }

      .Checkfield {
        @apply flex;
        @apply mb-4;

        &:last-child {
          @apply mb-0;
        }

        input[type="checkbox"] {
          accent-color: white;
          @apply flex-none;
          @apply h-6 w-6 lg:h-8 lg:w-8;
          @apply mr-2 lg:mr-3;
        }

        label {
          @apply text-white;
          @apply text-sm;
          @apply font-roboto;
        }
      }

      .SubmitWrapper {
        @apply flex;
        @apply justify-end;
        @apply items-center;
        @apply mb-4;

        button {
          @apply text-base;
          @apply font-bold;
          @apply uppercase;
          @apply px-3 py-2;
          @apply bg-white;
          @apply text-font-main-green;
        }

        .ForkIcon {
          @apply h-full;
          @apply mr-4;
        }
      }
    }

    .HelpWrapper {
      .WarningText {
        @apply font-roboto;
        @apply text-white;
        @apply text-base;
        @apply font-bold;
        @apply mb-8;
      }

      .GuideText {
        &:last-child {
          @apply mb-0;
        }

        @apply font-roboto;
        @apply text-white;
        @apply text-sm;
        @apply mb-4;
      }
    }
  }
}
