// Roboto

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

// Camden Sans

@font-face {
  font-family: CamdenSans;
  src: url(/fonts/CamdenSans400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CamdenSans;
  src: url(/fonts/CamdenSans500.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: CamdenSans;
  src: url(/fonts/CamdenSans700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

// Camden Slab

@font-face {
  font-family: CamdenSlab;
  src: url(/fonts/CamdenSlab400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CamdenSlab;
  src: url(/fonts/CamdenSlab500.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: CamdenSlab;
  src: url(/fonts/CamdenSlab700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
