.MainContent {
  .FormContent {
    @apply lg:w-pc-45;
    @apply bg-main-green;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply py-8;

    .Heading {
      @apply text-white;
      @apply text-xl;
      @apply font-bold;
      @apply uppercase;
      @apply pb-4;
      @apply mb-6 lg:mb-12;
    }

    .HeadingMobile {
      @extend .Heading;
      @apply font-normal;
      @apply text-center;
      @apply px-8;
      @apply lg:hidden;
    }

    .Form {
      @apply w-full;
      @apply px-8 lg:px-16;
      @apply font-camdensans;

      .Field {
        @apply mb-4;

        &:last-child {
          @apply mb-0;
        }

        label {
          @apply text-white;
          @apply text-sm;
          @apply uppercase;
          @apply mb-1;
        }

        input {
          @apply w-full;
          @apply text-base;
          @apply uppercase;
          @apply px-2 py-1;
        }

        @apply flex;
        @apply flex-col;
      }

      .AcceptWrapper {
        @apply my-12;
      }

      .Checkfield {
        @apply flex;
        @apply mb-4;

        &:last-child {
          @apply mb-0;
        }

        input[type="checkbox"] {
          accent-color: white;
          @apply flex-none;
          @apply h-6 w-6 lg:h-8 lg:w-8;
          @apply mr-2 lg:mr-3;
        }

        label {
          @apply text-white;
          @apply text-sm;
          @apply font-roboto;
        }
      }

      .SubmitWrapper {
        @apply flex;
        @apply justify-end;
        @apply items-center;
        @apply mb-4;

        button {
          @apply text-base;
          @apply font-bold;
          @apply uppercase;
          @apply px-3 py-2;
          @apply bg-white;
          @apply text-font-main-green;
        }

        .ForkIcon {
          @apply h-3;
          @apply mr-4;
        }
      }
    }

    .HelpWrapper {
      .WarningText {
        @apply font-roboto;
        @apply text-white;
        @apply text-base;
        @apply font-bold;
        @apply mb-8;
      }

      .GuideText {
        &:last-child {
          @apply mb-0;
        }

        @apply font-roboto;
        @apply text-white;
        @apply text-sm;
        @apply mb-4;
      }
    }
  }
}
