.HeaderTeaser {
  @apply text-font-main-green;
  @apply text-lg lg:text-2xl;
  @apply text-center;
  @apply uppercase;
  @apply py-8;
  @apply px-4 lg:px-0;
  @apply leading-none;
  @apply hidden lg:block;
}

.NavigationTeaser {
  @extend .HeaderTeaser;
  @apply block lg:hidden;

  .Arrow {
    @apply text-sm;
    @apply mt-2;
  }
}

.FooterTeaser {
  @apply text-font-main-green;
  @apply text-lg lg:text-2xl;
  @apply text-center;
  @apply uppercase;
  @apply py-8;
  @apply px-4 lg:px-0;
  @apply leading-none;
  @apply hidden lg:block;
}
