.MainContent {
  .LogoContent {
    @apply lg:grid;
    @apply px-4 lg:px-8;
    @apply py-4 lg:py-0;
    @apply lg:w-pc-55;
    @apply bg-main-light-green;

    .Circle {
      @apply flex;
      @apply relative;
      @apply bg-main-green;
      @apply uppercase;
      @apply text-white;
      @apply w-full;
      @apply rounded-full;
      @apply m-auto;
      @apply overflow-hidden;

      // responsive circle trick
      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      .CurveText {
        fill: white;
        @apply tracking-widest;
        @apply mt-6 lg:mt-8;

        svg {
          @apply absolute;
          @apply h-full w-full;
        }

        text {
          @apply font-bold;
          font-size: 10px;
          transform-origin: center;
          transform: rotate(33deg);
        }
      }

      .CircleContent {
        @apply absolute;
        @apply flex;
        @apply flex-col;
        @apply justify-center;
        @apply items-center;
        @apply h-full w-full;
        @apply mt-4 lg:mt-8;
      }

      .PriceText {
        @apply flex;
        @apply relative;
        @apply leading-none;
        @apply font-bold;
        @apply text-[6rem] lg:text-[16rem];

        .Currency {
          @apply absolute;
          @apply text-xl lg:text-5xl;
          @apply mt-2 lg:mt-8;
          @apply -ml-2 lg:-ml-4;
        }
      }

      .DishText {
        @apply text-[2rem] lg:text-[3.75rem];
        @apply font-bold;
        @apply tracking-dish;
      }

      .DateText {
        @apply text-sm lg:text-[1.75rem];
        @apply font-bold;
        @apply leading-none;
      }

      .ForkIcon {
        @apply absolute;
        @apply w-5;
        @apply left-0 right-0 bottom-0;
        @apply m-auto;
        @apply -mb-20;
      }
    }
  }
}
