@tailwind base;
@tailwind utilities;

@import "./fonts";
@import "./heading";
@import "./logo";
@import "./form";

body {
  @apply font-camdenslab;
  @apply bg-main-white;
}

.MainWrapper {
  @apply min-h-screen;
  @apply flex;
  @apply flex-col;
  @apply justify-center;
}

.MainContent {
  @apply flex;
  @apply flex-col lg:flex-row;
  @apply mx-auto;
  @apply max-w-7xl;
}
